/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 14px/28px arial;
  background-image: url(Images/bg.png);
}

.container {
  background-color: #dddddd;
  margin: auto;
  width: 960px;
}

.container .header {
  padding: 20px 20px 10px;
}

.container .header p {
  font-size: 20px;
  font-weight: 700;
}

.container .header .navigate li {
  margin: 5px 20px 5px 0px;
  display: inline-block;
}

.container .header .navigate li:hover {
  background-color: rgb(179, 179, 179);
}

.container .header .navigate a {
  color: tomato;
  text-decoration: none;
}

.container .images {
  height: 350px;
  background-image: url(Images/news.jpg);
  background-size: cover;
  background-position: 0 -40px;
  background-repeat: no-repeat;
  border-top: 3px solid tomato;
  border-bottom: 3px solid blue;
}

.container .content .main-content {
  width: 600px;
  float: left;
}

.container .content .main-content .title {
  font-size: 20px;
  font-weight: 700;
}

.container .content .main-content .metadata {
  margin-top: -20px;
}

.container .content .main-content .metadata a {
  color: blue;
  text-decoration: none;
}

.container .content .main-content p {
  margin: 20px;
}

.container .content .sidebar {
  width: 300px;
  float: right;
}

.container .content .sidebar .title {
  color: #666;
  font-size: 18px;
  font-weight: 700;
}

.container .content .sidebar img {
  margin: 5px 10px 5px 20px;
  height: 70px;
  width: 70px;
  float: left;
}

.container .content .sidebar p {
  margin: 20px;
  font: 12px/20px arial;
}

.container .footer {
  color: white;
  background-color: black;
}

.container .footer p {
  text-align: center;
}

/*clearfix*/
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
